@{
    ViewBag.Title = "TextRipper.com";
}
<div style="text-align: center">
    <div>
        
        <div style="padding-top: 50px; padding-bottom: 50px">
            <img src="/Content/images/title.png" alt="TextRipper.com" />
            <form action="/Home/Index" method="post" enctype="multipart/form-data">
            <p>Convert DOC, PDF, and RTF to TXT</p>
            <input type="file" name="fileUpload" id="fileUpload" />
            <input type="submit" name="submitButton" value="Convert!" />
            </form>
        </div>
        <br>
        <a href="http://andlewis.com" target="_blank">credits</a> | convert by email | webservice
        api
    </div>
</div>
